        body { 
            font-family: Arial, sans-serif; 
            background-color: #e9ecef;
            margin: 0; 
            padding: 10px;         
        }

        .centered-link:hover {
            background-color: #005fa3;
        }
        h1 { 
            text-align: center; 
            color: #2c3e50;
            margin-bottom: 20px;
        }
        form, .result {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            border: 1px solid #d1d1d1;       
        }
        .result {
            margin-top: 0;
            padding-top: 20px;
        }
        .info-box {
            padding: 10px;
            background: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 8px;
            text-align: left; /* ปรับจาก center เป็น left */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            font-size: 14px; /* ปรับขนาดฟอนต์ที่นี่ */
        }
        label { 
            display: block; 
            margin-bottom: 5px; 
            color: #34495e;
        }
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type="number"] {
            background-color: #f9f9f9;
        }
        input[type="submit"] { 
            background-color: #3498db;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }
        input[type="submit"]:hover { 
            background-color: #2980b9;
        }
        table {
            width: 100%;
            margin-top: 10px;
            border-collapse: collapse;
            background-color: #f9f9f9;
        }
        th, td {  
            padding: 8px;
            border: 1px solid #ddd;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
            color: #333;
            font-weight: bold;
        }
